{% extends "base.html" %}

{% block content %}
<h1>Categories</h1>

{% for category in categories %}
    <p>
        <a href="{% url 'categories:detail' category.pk %}">
            {{ category.name }}
        </a>
        <a href="{% url 'categories:edit' category.pk %}">(edit)</a>
        <a href="{% url 'categories:delete' category.pk %}">(delete)</a>
    </p>
{% empty %}
    <p>No categories yet.</p>
{% endfor %}
<a href="{% url 'categories:add_category' %}">Add New Category</a>
{% endblock %}